# OS files
# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.lnk

# macOS
.DS_Store
.AppleDouble
.LSOverride
Icon?
.Spotlight-V100/
.Trashes/
.fseventsd
._*

# Linux / Unix
*~
.nfs*
.directory

# IDE / Editor
# IntelliJ IDEA
.idea/
*.iml
*.ipr
*.iws
out/

# VS Code
.vscode/
.history/

# Java / JVM
*.class
*.log
hs_err_pid*
replay_pid*

# Gradle
.gradle/
build/

# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# AirBridge runtime artifacts
work/
/transfer.mp4
/decoded-output/
/decoded-output_work/
/w-64
**/ffmpeg/mac-arm64/*
**/ffmpeg/win-x64/*

fixtures/
.gradle-home